tensorflow
opencv-contrib-python==5.0.0.93
numpy
scipy
matplotlib
scikit-image
scikit-learn
jupyter
pandas
seaborn
pillow
pymeshlab
vtk
SimpleITK
pytesseract
PySide6
imutils
exif
qrcode[pil]
open3d
auto-py-to-exe