* {
    margin: 0;
}

body {
    background-color: #404040;
    color: #ededed;
}

header {
    background-color: black;
}

.logo {
    width: 48px;
    border-radius: 24px;
    margin: 8px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 12px;
}

h2 {
    text-decoration: underline;
    margin: 24px 0 12px 0;
}

p {
    text-align: justify;
}

.introduction-image {
    display: block;
    margin: 16px auto;
    width: 512px;
    border: 2px solid #d6d6d6;
}

#device-table {
    border-collapse: collapse;
    margin-top: 16px;
}

#device-table th {
    background-color: #2c2c2c;
}

#device-table th, #device-table td {
    border: 1px solid white;
    padding: 20px;
}

.device-img {
    width: 240px;
}

li {
    margin-bottom: 12px;
}

footer {
    background-color: black;
    height: 30px;
}

.footer-text {
    text-align: center;
    line-height: 30px;
}
