body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #F4F8Fb;
    color: #333;
}

header {
    background-color: #003366;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

footer {
    background-color: #003366;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    padding: 32px 16px;
    max-width: 1200px;
    margin: 0 auto 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

img {
    width: 250px;
}

.long-text {
    text-align: justify;
}

#images {
    text-align: center;
}
